In [1]:
import pandas as pd
teams = pd.read_csv("teams5sb.csv", index_col=[0,1])

teams.columns=[x.lower() for x in teams.columns]

In [2]:

# bramkarz-obrona-pomoc-atak-trener
# (PSxG-GA)/SoT; opp_xG; xG; Gls/xG
# ; SoTA; SCA; ;
bramkarz=['psxg','ga','sot']
obrona=['opp_xg','sota']
pomoc=['xg','sca']
atak=['gls','xg']
trener=['opp_xg'] #'opp_xg' vs AVGopp_xg

taktyka =['dist','cpa','1/3']# Dist(shot) C1/3 CPA
offence=['def pen','def 3rd','mid 3rd','att 3rd','att pen','touches'] #Touches[Def3rd Mid3rd Att3rd]/Touches
intensity=['touches']
wide=['sw','crs','att','opp_ti'] #/Poss Sw Crs Take-Ons[Att]'opp_ti'
speed=['poss','prgdist'] #PrgP/Poss poss/prgdist
stalefragmenty =['dead','fk','ti','ck', 'gca passdead'] #/Poss Dead,FK,TI,CK GCA pass dead
press=['sca def','tackles def 3rd', 'tackles mid 3rd', 'tackles att 3rd','tackles tkl','fls','won','opp_rec','opp_total cmp','opp_total att']
# SCA_Def,Tackles[Def3rd Mid3rd Att3rd], *oppRec, Fls AWon 
where=['tackles def 3rd','tackles mid 3rd','tackles att 3rd','def 3rd','mid 3rd','att 3rd','att pen','def pen']
error=['challenges lost','tackles tklw','tackles tkl','err','mis','dis','crdy','og','lost']
# ChallengesLost TklW/TklAtt Err Mis Dis CrdY OG Alost
succ=['int','tackles tklw','succ','challenges tkl','blocks','opp_total att','recov'] #Int TklW ChaTkl Take-Ons[Att] blocks 'opp_total att'

In [3]:
subset=bramkarz+obrona+pomoc+atak+trener+taktyka+offence+intensity+wide+speed+stalefragmenty+press+error+where
subset=list(set(subset))
len(subset)
teams[subset]

                      tackles att 3rd  poss   ti  opp_rec  dist   ck  og  \
1819 Arsenal                       79  58.1  823    12212  16.7  209   1
     Bournemouth                   55  46.9  832    15971  17.4  191   3
     Brighton                      78  42.4  880    17547  17.9  156   0
     Burnley                       58  41.2  891    16502  15.8  139   4
     Cardiff City                  64  35.4  799    17425  17.7  168   0
...                               ...   ...  ...      ...   ...  ...  ..
2223 Nott'ham Forest               78  37.6  720    18267  17.2  128   0
     Southampton                   57  44.5  752    16240  18.1  157   5
     Tottenham                     79  50.0  664    15945  16.7  203   1
     West Ham                      92  42.1  722    18736  17.3  206   1
     Wolves                        75  49.9  663    14439  18.0  185   1

                      touches  gls  def pen  ...  lost  psxg   sw  att  \
1819 Arsenal            26670   69     2457  ...   637  53.5  152  536
     Bournemouth        22079   55     2437  ...   736  55.2   84  578
     Brighton           20254   35     2464  ...   780  55.9  188  516
     Burnley            19189   43     2542  ...  1025  58.0  108  370
     Cardiff City       16261   33     2228  ...   966  68.2   60  475
...                       ...  ...      ...  ...   ...   ...  ...  ...
2223 Nott'ham Forest    17912   36     2715  ...   600  60.1   66  569
     Southampton        21095   36     2639  ...   611  46.3   87  756
     Tottenham          23836   68     2734  ...   474  55.1  165  663
     West Ham           20411   41     2362  ...   587  53.2  162  607
     Wolves             22539   28     2921  ...   542  52.2  149  772

                      opp_total att  att 3rd  tackles tkl  dis  prgdist  \
1819 Arsenal                  16319     6492          609  409    44451
     Bournemouth              20430     5257          525  356    36536
     Brighton                 21902     4366          679  336    26537
     Burnley                  21331     4395          584  314    21370
     Cardiff City             22088     4470          655  332    19337
...                             ...      ...          ...  ...      ...
2223 Nott'ham Forest          22551     3755          659  275    24008
     Southampton              20617     4880          713  400    29819
     Tottenham                19765     5135          619  356    36837
     West Ham                 22778     4994          607  355    28201
     Wolves                   18284     4960          661  327    35065

                      def 3rd
1819 Arsenal             7996
     Bournemouth         7561
     Brighton            7030
     Burnley             6104
     Cardiff City        5452
...                       ...
2223 Nott'ham Forest     7420
     Southampton         7452
     Tottenham           8571
     West Ham            6898
     Wolves              8544

[100 rows x 46 columns]