In [3]:
import pandas as pd
# teams = pd.read_csv("out/out22.csv", index_col=[0],header=1)
# teams

,M,W,D,L,G,GA,PTS,xG,NPxG,xGA,NPxGA,NPxGD,PPDA,OPPDA,DC,ODC,xPTS
Team,,,,,,,,,,,,,,,,,
Manchester City,38,28,5,5,94,33,89,84.32,76.71,34.21,31.92,44.78,10.33,22.32,450,154,83.04
Arsenal,38,26,6,6,88,43,84,76.51,73.47,45.16,41.36,32.11,9.55,14.36,452,199,72.53
Manchester United,38,23,6,9,58,43,75,71.90,69.62,50.29,48.00,21.61,11.52,13.66,391,253,66.40
Newcastle United,38,19,14,5,68,33,71,76.98,72.41,41.86,38.05,34.36,9.19,10.66,376,215,71.67
Liverpool,38,19,10,9,75,47,67,80.77,77.73,55.77,52.73,25.00,8.83,19.10,419,209,67.37
Brighton,38,18,8,12,72,53,62,77.72,73.16,50.15,43.98,29.18,8.93,15.01,362,231,70.86
Aston Villa,38,18,7,13,51,46,61,50.00,46.95,53.96,49.24,-2.29,11.78,9.56,258,237,54.37
Tottenham,38,18,6,14,70,63,60,57.83,53.27,51.66,48.62,4.65,12.65,12.73,239,280,57.60
Brentford,38,15,14,9,58,46,59,59.23,53.14,51.45,49.93,3.21,11.31,9.78,231,301,58.26
Fulham,38,15,7,16,55,53,52,47.98,41.13,71.49,65.31,-24.18,12.96,10.43,203,286,39.24
Crystal Palace,38,11,12,15,40,49,45,40.72,38.30,51.63,48.58,-10.29,13.05,8.67,197,311,44.24
Chelsea,38,11,11,16,38,47,44,51.89,49.61,54.02,53.26,-3.65,9.10,13.33,322,214,52.28
Wolverhampton Wanderers,38,11,8,19,31,58,41,35.13,32.84,62.68,59.64,-26.79,11.99,11.30,192,301,35.01
West Ham,38,11,7,20,42,55,40,51.21,45.12,55.31,50.75,-5.62,15.96,11.11,173,285,51.62
Bournemouth,38,11,6,21,37,71,39,40.08,40.08,67.60,62.27,-22.19,15.78,8.81,200,383,34.73
Nottingham Forest,38,9,11,18,38,68,38,39.57,35.01,68.46,61.61,-26.60,16.48,8.02,157,390,35.05
Everton,38,8,12,18,34,57,36,48.65,46.37,68.58,64.02,-17.65,13.65,9.62,197,309,40.71
Leicester,38,9,7,22,51,68,34,48.99,44.33,59.79,55.98,-11.65,12.02,12.67,205,289,45.07
Leeds,38,7,10,21,48,78,31,47.80,45.51,69.58,65.01,-19.50,9.48,9.02,230,267,40.58
Southampton,38,6,7,25,36,73,25,39.27,36.13,62.90,60.62,-24.48,12.37,8.40,199,339,36.47

In [7]:
r=range(18,23)
dfs=[]
for y in r:
    x=pd.read_csv(f"out/out{y}.csv", index_col=[0],header=1)
    dfs.append(x)

In [22]:
l1=list(r)
l2=[(l1[i],l1[i+1]if i<len(r)-1 else x) for i,x in enumerate(l1)]
[str(x)+str(y) for x,y in l2][:-1]
r2=['1819', '1920', '2021', '2122', '2223']

In [40]:
all=pd.concat(dfs,axis=0, ignore_index=False,keys=r2)

In [28]:
fbref_names=['Arsenal',
 'Aston Villa',
 'Bournemouth',
 'Brentford',
 'Brighton',
 'Burnley',
 'Cardiff City',
 'Chelsea',
 'Crystal Palace',
 'Everton',
 'Fulham',
 'Huddersfield',
 'Leeds United',
 'Leicester City',
 'Liverpool',
 'Manchester City',
 'Manchester Utd',
 'Newcastle Utd',
 'Norwich City',
 "Nott'ham Forest",
 'Sheffield Utd',
 'Southampton',
 'Tottenham',
 'Watford',
 'West Brom',
 'West Ham',
 'Wolves']
s1=set(all.index.get_level_values(-1))
s1

In [33]:
mapping=dict(zip(sorted(s1),sorted(fbref_names)))
mapping
map_us2fbref={'Arsenal': 'Arsenal',
 'Aston Villa': 'Aston Villa',
 'Bournemouth': 'Bournemouth',
 'Brentford': 'Brentford',
 'Brighton': 'Brighton',
 'Burnley': 'Burnley',
 'Cardiff': 'Cardiff City',
 'Chelsea': 'Chelsea',
 'Crystal Palace': 'Crystal Palace',
 'Everton': 'Everton',
 'Fulham': 'Fulham',
 'Huddersfield': 'Huddersfield',
 'Leeds': 'Leeds United',
 'Leicester': 'Leicester City',
 'Liverpool': 'Liverpool',
 'Manchester City': 'Manchester City',
 'Manchester United': 'Manchester Utd',
 'Newcastle United': 'Newcastle Utd',
 'Norwich': 'Norwich City',
 'Nottingham Forest': "Nott'ham Forest",
 'Sheffield United': 'Sheffield Utd',
 'Southampton': 'Southampton',
 'Tottenham': 'Tottenham',
 'Watford': 'Watford',
 'West Bromwich Albion': 'West Brom',
 'West Ham': 'West Ham',
 'Wolverhampton Wanderers': 'Wolves'}

In [39]:
# newindex=all.index.get_level_values(-1).map(map_us2fbref)
# all.index=all.index.set_levels(newindex,level=1,verify_integrity=False)
# all

                       M   W   D   L   G  GA  PTS     xG   NPxG    xGA  NPxGA  \
     Team
1819 Southampton      38  32   2   4  95  23   98  93.72  90.68  25.73  22.69
     Burnley          38  30   7   1  89  22   97  79.46  74.13  29.15  28.38
     Everton          38  21   9   8  63  39   72  63.97  60.16  38.11  36.45
     Manchester Utd   38  23   2  13  67  39   71  61.75  58.70  49.15  45.34
     Manchester City  38  21   7  10  73  51   70  64.80  60.99  57.30  51.97
...                   ..  ..  ..  ..  ..  ..  ...    ...    ...    ...    ...
2223 Huddersfield     38   9  11  18  38  68   38  39.57  35.01  68.46  61.61
     West Ham         38   8  12  18  34  57   36  48.65  46.37  68.58  64.02
     Bournemouth      38   9   7  22  51  68   34  48.99  44.33  59.79  55.98
     Newcastle Utd    38   7  10  21  48  78   31  47.80  45.51  69.58  65.01
     Manchester City  38   6   7  25  36  73   25  39.27  36.13  62.90  60.62

                      NPxGD   PPDA  OPPDA   DC  ODC   xPTS
     Team
1819 Southampton      67.99   8.44  26.31  582  135  90.64
     Burnley          45.75   9.99  19.15  431  152  83.45
     Everton          23.71   9.79  14.84  376  188  71.45
     Manchester Utd   13.36   9.40  14.45  270  202  61.44
     Manchester City   9.02   9.47  12.79  400  253  58.97
...                     ...    ...    ...  ...  ...    ...
2223 Huddersfield    -26.60  16.48   8.02  157  390  35.05
     West Ham        -17.65  13.65   9.62  197  309  40.71
     Bournemouth     -11.65  12.02  12.67  205  289  45.07
     Newcastle Utd   -19.50   9.48   9.02  230  267  40.58
     Manchester City -24.48  12.37   8.40  199  339  36.47

[100 rows x 17 columns]

In [44]:
all.index=pd.MultiIndex.from_tuples([(x[0],map_us2fbref[x[1]]) for x in all.index])
all.loc['2223']

,M,W,D,L,G,GA,PTS,xG,NPxG,xGA,NPxGA,NPxGD,PPDA,OPPDA,DC,ODC,xPTS
Manchester City,38,28,5,5,94,33,89,84.32,76.71,34.21,31.92,44.78,10.33,22.32,450,154,83.04
Arsenal,38,26,6,6,88,43,84,76.51,73.47,45.16,41.36,32.11,9.55,14.36,452,199,72.53
Manchester Utd,38,23,6,9,58,43,75,71.90,69.62,50.29,48.00,21.61,11.52,13.66,391,253,66.40
Newcastle Utd,38,19,14,5,68,33,71,76.98,72.41,41.86,38.05,34.36,9.19,10.66,376,215,71.67
Liverpool,38,19,10,9,75,47,67,80.77,77.73,55.77,52.73,25.00,8.83,19.10,419,209,67.37
Brighton,38,18,8,12,72,53,62,77.72,73.16,50.15,43.98,29.18,8.93,15.01,362,231,70.86
Aston Villa,38,18,7,13,51,46,61,50.00,46.95,53.96,49.24,-2.29,11.78,9.56,258,237,54.37
Tottenham,38,18,6,14,70,63,60,57.83,53.27,51.66,48.62,4.65,12.65,12.73,239,280,57.60
Brentford,38,15,14,9,58,46,59,59.23,53.14,51.45,49.93,3.21,11.31,9.78,231,301,58.26
Fulham,38,15,7,16,55,53,52,47.98,41.13,71.49,65.31,-24.18,12.96,10.43,203,286,39.24
Crystal Palace,38,11,12,15,40,49,45,40.72,38.30,51.63,48.58,-10.29,13.05,8.67,197,311,44.24
Chelsea,38,11,11,16,38,47,44,51.89,49.61,54.02,53.26,-3.65,9.10,13.33,322,214,52.28
Wolves,38,11,8,19,31,58,41,35.13,32.84,62.68,59.64,-26.79,11.99,11.30,192,301,35.01
West Ham,38,11,7,20,42,55,40,51.21,45.12,55.31,50.75,-5.62,15.96,11.11,173,285,51.62
Bournemouth,38,11,6,21,37,71,39,40.08,40.08,67.60,62.27,-22.19,15.78,8.81,200,383,34.73
Nott'ham Forest,38,9,11,18,38,68,38,39.57,35.01,68.46,61.61,-26.60,16.48,8.02,157,390,35.05
Everton,38,8,12,18,34,57,36,48.65,46.37,68.58,64.02,-17.65,13.65,9.62,197,309,40.71
Leicester City,38,9,7,22,51,68,34,48.99,44.33,59.79,55.98,-11.65,12.02,12.67,205,289,45.07
Leeds United,38,7,10,21,48,78,31,47.80,45.51,69.58,65.01,-19.50,9.48,9.02,230,267,40.58
Southampton,38,6,7,25,36,73,25,39.27,36.13,62.90,60.62,-24.48,12.37,8.40,199,339,36.47