In [1]:
import pandas as pd

df = pd.read_csv("teams5sb.csv", index_col=[0,1])
df.columns=[x.lower() for x in df.columns]

In [2]:
# bramkarz-obrona-pomoc-atak-trener
# (PSxG-GA)/SoT; opp_xG; xG; Gls/xG
# ; SoTA; SCA; ;
bramkarz=['psxg','ga','sot']
obrona=['opp_xg','sota']
pomoc=['xg','sca']
atak=['gls','xg']
trener=['opp_xg'] #'opp_xg' vs AVGopp_xg

taktyka =['dist','cpa','1/3','prgp' ,'prgc','90s']# Dist(shot) C1/3 CPA
offence=['def pen','def 3rd','mid 3rd','att 3rd','att pen','touches'] #Touches[Def3rd Mid3rd Att3rd]/Touches
intensity=['touches']
wings=['sw','crs','att','opp_ti','xa'] #/Poss Sw Crs Take-Ons[Att]'opp_ti' xA/PPA
speed=['poss','prgdist'] #PrgP/Poss poss/prgdist
stalefragmenty =['dead','fk','ti','ck', 'gca passdead'] #/Poss Dead,FK,TI,CK GCA pass dead
press=['sca def','tackles def 3rd', 'tackles mid 3rd', 'tackles att 3rd','tackles tkl','fls','won','opp_rec','opp_total cmp','opp_total att','recov']
# SCA_Def,Tackles[Def3rd Mid3rd Att3rd], *oppRec, Fls AWon 
where=['tackles def 3rd','tackles mid 3rd','tackles att 3rd','def 3rd','mid 3rd','att 3rd','att pen','def pen']
error=['challenges lost','tackles tklw','tackles tkl','err','mis','dis','crdy','og','lost']
# ChallengesLost TklW/TklAtt Err Mis Dis CrdY OG Alost
succ=['int','tackles tklw','succ','challenges tkl','blocks','opp_total att','recov'] #Int TklW ChaTkl Take-Ons[Att] blocks 'opp_total att'
pas=['total att','short att','medium att','long att','crspa']
subset=bramkarz+obrona+pomoc+atak+trener+taktyka+offence+intensity+wings+speed+stalefragmenty+press+error+where+pas
subset=list(set(subset))

In [3]:
df

                      players_used  mp  starts   min  90s  ga  ga90  sota  \
1819 Arsenal                     2  38      38  3420   38  51  1.34   182
     Bournemouth                 3  38      38  3420   38  70  1.84   173
     Brighton                    2  38      38  3420   38  60  1.58   170
     Burnley                     2  38      38  3420   38  68  1.79   199
     Cardiff City                1  38      38  3420   38  69  1.82   207
...                            ...  ..     ...   ...  ...  ..   ...   ...
2223 Nott'ham Forest             3  38      38  3420   38  68  1.79   182
     Southampton                 2  38      38  3420   38  73  1.92   150
     Tottenham                   2  38      38  3420   38  63  1.66   172
     West Ham                    2  38      38  3420   38  55  1.45   170
     Wolves                      2  38      38  3420   38  58  1.53   174

                      saves  save%  ...  opp_carries  opp_totdist  \
1819 Arsenal            132   75.8  ...        10744        58366
     Bournemouth        106   62.4  ...        13627        72502
     Brighton           110   70.6  ...        14786        81420
     Burnley            134   66.8  ...        14231        77324
     Cardiff City       135   68.6  ...        14676        82808
...                     ...    ...  ...          ...          ...
2223 Nott'ham Forest    112   65.9  ...        15879        86558
     Southampton         81   52.7  ...        14203        70838
     Tottenham          109   65.1  ...        13878        69544
     West Ham           115   70.0  ...        16218        85059
     Wolves             115   67.8  ...        12748        69224

                      opp_prgdist  opp_prgc  opp_1/3  opp_cpa  opp_mis  \
1819 Arsenal                30164       683      495      184      551
     Bournemouth            37072       741      582      203      551
     Brighton               45177       845      676      196      548
     Burnley                42340       917      592      247      548
     Cardiff City           44834       872      646      232      631
...                           ...       ...      ...      ...      ...
2223 Nott'ham Forest        47243       813      585      216      557
     Southampton            35355       652      446      221      590
     Tottenham              33624       685      524      212      541
     West Ham               44739       805      612      222      568
     Wolves                 35818       702      495      218      570

                      opp_dis  opp_rec  opp_prgr
1819 Arsenal              380    12212      1265
     Bournemouth          309    15971      1652
     Brighton             415    17547      1815
     Burnley              347    16502      1710
     Cardiff City         414    17425      1711
...                       ...      ...       ...
2223 Nott'ham Forest      363    18267      1880
     Southampton          417    16240      1717
     Tottenham            344    15945      1497
     West Ham             338    18736      1709
     Wolves               375    14439      1575

[100 rows x 227 columns]

In [4]:
mets=pd.DataFrame()
# QUALITY
mets['goalie']=(df['psxg']-df['ga'])/df['sota']
mets['defs']=df['opp_xg']*-1
mets['mids']=df['xg']
mets['atks']=df['gls']-df['xg']

#STYLE - nie jakosci tylko ilosci lub%
mets['offdeff']=(0.53*(df['att 3rd']/df['touches'])+0.32*(df['mid 3rd']/df['touches'])-0.065*(df['def 3rd']/df['touches'])) 
mets['intensity']=df['touches']
# mets['passes']=df['total att']
mets['dirspeed']=df['poss']/df['prgdist']
mets['deads']=df['dead']/df['live']
# deadfocus=df['dead']
# mets['deads']=df['gca passdead']/df['dead']
mets['press']=(8.1402+df['tackles att 3rd']*-0.020121+df['tackles mid 3rd']*-0.013577+df['opp_rec']*0.004508+df['opp_total cmp']*-0.002475+df['opp_total att']*-0.001121)*-1
mets['contra']=(df['def 3rd']/df['touches'])*df['sot']

mets['buildup']=(0.53*(df['short att']/df['total att'])+0.32*(df['medium att']/df['total att'])-0.065*(df['long att']/df['total att'])) 
mets['progress']=df['prgp']/df['total cmp']
mets['carr']=df['prgc']/df['prgp']
mets['wings']=(df['sw']+df['crs']+df['att'])/df['poss']
mets['agresive']=(df['challenges tkl']/df['challenges att'])+(df['blocks']/df['opp_total att'])+(df['int']/df['opp_total att'])

#ERR/SUCC
mets['deferror']=(0.57*df['challenges lost']+0.86*df['err']+0.29*df['mis']+0.43*df['dis']+0.71*df['crdy']+1.00*df['og']+0.14*df['lost'])*(1-(df['tackles tklw']/df['tackles tkl']))
mets['offsucc']=df['succ']/df['att']+df['gls']/df['sot']+df['won']/(df['won']+df['lost'])+df['recov']/(df['90s']*55)

In [5]:
error=['challenges lost','tackles tklw','tackles tkl','err','mis','dis','crdy','og','lost']
error2=['challenges lost','err','mis','dis','crdy','og','lost']
# ChallengesLost TklW/TklAtt Err Mis Dis CrdY OG Alost
succ=['int','challenges tkl','blocks','recov'] 
#Int TklW ChaTkl Take-Ons[Att] blocks 'opp_total att'

df['tls']=(1-(df['tackles tklw']/df['tackles tkl']))

In [6]:
def run(startyear):
    # startyear=22
    new=startyear*100+(startyear+1)

    ranked=mets.loc[new].rank(pct=1)
    ranked.to_csv(f'ranked_mets_{new}.csv')

# for year in range(18,22):
#     mixed =run(year)

In [8]:
# # FULL DATA wo calculation
# def run_nometric(startyear):
#     # startyear=22
#     new=startyear*100+(startyear+1)

#     ranked=df.loc[new]
#     ranked.to_csv(f'nometric_{new}.csv')

# for year in range(18,22):
#     mixed =run_nometric(year)

finding best proportions

In [ ]:
df[error2].max()

In [7]:
coefs=round(1/(df[error2].quantile(0.95)/38),3)
coefs

challenges lost    0.085
err                1.517
mis                0.058
dis                0.083
crdy               0.452
og                 9.500
lost               0.043
Name: 0.95, dtype: float64

In [8]:
round(coefs.rank(pct=1),2)

challenges lost    0.57
err                0.86
mis                0.29
dis                0.43
crdy               0.71
og                 1.00
lost               0.14
Name: 0.95, dtype: float64